* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.header-contacts {
  height: 50px;
  background-color: #570026;
  padding-left: 214px;
  padding-right: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
}
.header-social-links {
  margin-right: -20px;
}
.header-social-link {
  margin-right: 20px;
}

.header-menu {
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 3;
}
.logo {
  position: absolute;
  left: 48px;
}
.header-links {
  position: absolute;
  right: 214px;
  left: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link-indicator {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 0;
  width: calc(100% - 5px);
  height: 2px;
  background: #570026;
}
.header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}
.header-main-link {
  font-family: Cormorant SC;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #570026;
}
.link {
  text-decoration: none;
}

.title-info {
  max-width: 540px;
}
.title-caption {
  margin-top: 0;
  margin-bottom: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #000000;
}
.title-description {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #433f3f;
}
.title-subdescription {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #433f3f;
}
.title-delim {
  width: 150px;
  height: 2px;
  background: #570026;
}
.title1th {
  height: 884px;
  background: url(../img/main/titles/title1th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title1th-section-left {
  height: 69px;
  position: absolute;
  left: 107px;
  bottom: 87px;
}
.title1th-section-right {
  height: 208px;
  position: absolute;
  right: 86px;
  top: 112px;
}
.title2th {
  height: 442px;
  background: #ffffff;
  display: flex;
  align-items: center;
}
.title2th-image {
  margin-left: 281px;
  margin-right: auto;
  box-shadow: -20px 20px 0px #570026;
}
.title2th-section-info {
  margin-left: auto;
  margin-right: 150px;
}
.title3th {
  height: 442px;
  display: flex;
  align-items: center;
  background: #f3dfe2;
}
.title3th-section-left {
  width: 720px;
  height: 100%;
  background: url(../img/main/titles/title3th-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title3th-section-right {
  width: 720px;
  position: relative;
}
.title3th-services {
  display: flex;
  flex-wrap: wrap;
}
.title3th-service {
  width: 360px;
  height: 221px;
  text-align: center;
}
.title3th-service-description {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #433f3f;
}
.title3th-service-image {
  width: 129px;
  margin-top: 32px;
}
.title3th-delim-vertical {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: calc(50% - 1px);
  background: #570026;
}
.title3th-delim-horizontal {
  position: absolute;
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
  background: #570026;
}
.title4th {
  height: 884px;
  background: url(../img/main/titles/title4th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.title4th-section-info {
  margin-left: 209px;
}

.appointment-title {
  height: 516px;
  position: relative;
  background: url(../img/appointment/titles/title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.appointment-title-info {
  position: absolute;
  left: 74px;
  bottom: 100px;
}

.title-specialists {
  padding-top: 70px;
  height: 884px;
  background: #e5e5e5;
}
.title-specialists-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 330px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #000000;
}
.title-specialists-delim {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
  width: 220px;
  height: 2px;
  background: #570026;
}
.specialist-cards-wrapper {
  margin-left: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.specialist-cards {
  margin-left: -40px;
  display: flex;
}
.specialist-card {
  margin-left: 40px;
  width: 340px;
  height: 480px;
}
.card-image-border {
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  height: 400px;
  border: 1px solid #570026;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-image {
  margin: 10px;
  width: 320px;
  height: 380px;
  border: 1px solid #570026;
  object-fit: cover;
}
.card-caption {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #433f3f;
}
.card-description {
  margin-left: 20px;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #433f3f;
}

.footer-main {
  height: 350px;
  background: #f3dfe2;
  display: flex;
  align-items: center;
}

.about-company {
  margin-left: 86px;
  padding-top: 48px;
  width: 250px;
  height: 100%;
}

.logos {
  display: flex;
  align-items: center;
}

.footer-company-logotip {
  margin-left: 24px;
  font-family: Cormorant SC;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #570026;
}

.company-info {
  margin-left: 15px;
  margin-top: 23px;
  display: grid;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #570026;
}

.footer-social-links {
  margin-left: -5px;
  margin-top: 16px;
}

.footer-social-link {
  margin-left: 20px;
}

.footer-nav-wrapper {
  padding-left: 94px;
  padding-top: 28px;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-nav-block {
  margin-left: 136px;
}

.footer-nav-links {
  display: grid;
}

.footer-nav-title {
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #000000;
}

.footer-nav-delim {
  margin: 10px;
  width: 280px;
  height: 2px;
  background: #570026;
}

.footer-nav-link {
  margin-left: 16px;
  margin-top: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.footer-licence {
  height: 50px;
  background: #570026;
  display: flex;
  align-items: center;
}

.footer-licence-text {
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}

.appointment-caption-wrapper {
  margin-bottom: 28px;
}
.appointment-caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #000000;
}
.appointment-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}
.appointment-title-delim {
  width: 138px;
  height: 2px;
  background: #570026;
}
.appointment-wrapper {
  background-color: #ffffff;
  display: flex;
  position: relative;
}
.appointment-blocks {
  margin-left: 52px;
  margin-right: auto;
  margin-top: -52px;
  margin-bottom: 52px;
  padding-left: 40px;
  padding-top: 34px;
  width: 868px;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px 5px #e5e5e5;
}
.appointment-block {
  margin-bottom: 36px;
}
.appointment-choose-saloon {
  padding: 20px 32px;
  max-width: max-content;
  background: #ffffff;
  border: 1px solid #570026;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.appointment-choose-saloon-icon {
  margin-left: 32px;
}
.appointment-contacts {
  margin-left: 32px;
}
.appointment-contact-group {
  display: flex;
  align-items: center;
}
.appointment-contact-icon {
  margin-right: 16px;
}
.workinghours-wrapper {
  margin-left: 32px;
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
}
.workinghours-group {
  margin-right: 52px;
  margin-bottom: 12px;
  width: 175px;
  height: 32px;
  display: flex;
  align-items: center;
}
.workinghours-day-of-week {
  margin-right: 22px;
  padding: 3px 9px;
  background: #ffffff;
  border: 1px solid #570026;
  border-radius: 5px;
}
.workinghours-group-order1 {
  order: 1;
}
.workinghours-group-order2 {
  order: 2;
}
.workinghours-group-order3 {
  order: 3;
}
.workinghours-group-order4 {
  order: 4;
}
.workinghours-group-order5 {
  order: 5;
}
.workinghours-group-order6 {
  order: 6;
}
.workinghours-group-order7 {
  order: 7;
}
.specialists-block {
  margin-left: auto;
  margin-right: 52px;
  margin-top: -52px;
  margin-bottom: 52px;
  width: 438px;
  height:max-content;
  padding: 22px;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px 5px #e5e5e5;
}
.specialists-caption-wrapper {
  margin-bottom: 12px;
  text-align: center;
}
.specialists-caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #570026;
}
.specialists-delim {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  height: 2px;
  background: #570026;
}
.specialist-minicard {
  margin-top: 22px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 4px 4px 8px 5px #e5e5e5;
}
.specialist-picture {
  margin-left: 30px;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid #570026;
}
.specialist-minicard-info {
  margin-left: 20px;
}
.specialist-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}
.specialist-reviews {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #000000;
}
